* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

.loading-background {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: disappear 3s forwards;
}
.loading-background .loader {
  border: 16px solid #FF79DA;
  border-right: 16px solid #9356DC;
  border-left: 16px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: fixed;
  margin: -50px 0px 0px -50px;
  top: 50%;
  left: 50%;
  animation: turn 3s ease-in-out both;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  color: black;
  position: absolute;
  left: 6.5%;
  zoom: 125%;
}
header img {
  height: 45%;
}

footer {
  height: 200px;
  background-color: #353535;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
  color: white;
  margin-left: 25px;
  margin-top: 0px;
  padding-top: 25px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356DC;
}
footer ul {
  padding-left: 0;
  margin-left: 25px;
}
footer i {
  width: 14px;
  font-size: 14px;
  margin-right: 13px;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
}

.location-search {
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
  box-shadow: inset 0px 5px 5px -1px rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-search input {
  width: 165px;
  border-style: none;
  background-color: #eaeaea;
  font-family: "Roboto";
  font-weight: bold;
}
.location-search input::placeholder {
  color: #353535;
  text-align: center;
}
.location-search input:focus {
  outline: none;
}

nav {
  height: 285px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav {
    height: 250px;
  }
}
nav h1 {
  margin: 0;
  margin-top: 40px;
  width: 70%;
  text-align: center;
  font-weight: 800;
  font-size: x-large;
}
nav p {
  width: 80%;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  nav p {
    margin-bottom: 45px;
  }
}

.functioning {
  height: 440px;
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  .functioning {
    height: 250px;
  }
}
.functioning h2 {
  margin: 0 0 30px 20px;
}
.functioning .stages-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
@media screen and (min-width: 992px) {
  .functioning .stages-group {
    flex-direction: row;
  }
}

.stage {
  width: 80%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 3px #f1eded;
}
@media screen and (min-width: 992px) {
  .stage {
    width: 30%;
  }
}
.stage:hover {
  background-color: #f5edff;
}
.stage:hover i {
  color: #9356DC;
}
.stage .stage__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin-left: -10px;
  vertical-align: baseline;
  background-color: #9356DC;
  color: white;
  font-size: small;
  border-radius: 100%;
}
.stage i {
  margin-left: 25px;
  color: #7e7e7e;
  font-size: 18px;
}
.stage .stage__text {
  margin-left: 25px;
  font-weight: bold;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 65px;
}
.restaurants h2 {
  padding: 60px 0px 25px 20px;
  margin: 0;
  font-size: x-large;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .restaurants h2 {
    padding-top: 25px;
  }
}

.all-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .all-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 992px) {
  .all-cards {
    gap: 40px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 250px;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px #f1eded;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 22.5%;
  }
}
.card:hover {
  transform: scale(1.05);
}
.card .card__image {
  height: 70%;
}
.card .card__image img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
}
.card .card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 30%;
  margin-left: 4%;
}
.card .card__body h3 {
  font-size: 18px;
  color: black;
  margin: 0;
}
.card .card__body p {
  color: black;
  margin: 0;
}

.background {
  height: 270px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .background {
    height: 400px;
  }
}
@media screen and (min-width: 992px) {
  .background {
    height: 450px;
  }
}
.background.pg {
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.background.alf {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.background.lne {
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.background.ldds {
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f6f6;
  height: 1160px;
  margin-top: -60px;
  border-radius: 40px 40px 0px 0px;
}
@media screen and (min-width: 992px) {
  .menu {
    height: 600px;
  }
}
.menu h1 {
  font-family: "Shrikhand";
  font-size: 27px;
  font-weight: lighter;
  padding: 30px 0px 0px 15px;
  margin: 0px;
}
.menu .heart-menu {
  bottom: 5px;
  right: 30px;
}
.menu a {
  width: 185px;
  margin: auto;
  vertical-align: baseline;
}

.ne {
  height: 1240px;
}
@media screen and (min-width: 992px) {
  .ne {
    height: 600px;
  }
}

@media screen and (min-width: 768px) {
  .all-meals {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  .all-meals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
  }
}
.meal-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  animation: appear 3s ease-in forwards;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .meal-part {
    width: 100%;
  }
}
.meal-part h2 {
  margin: 0px 0px 0px 15px;
  font-size: 17px;
  font-weight: 100;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  width: 40px;
  padding-top: 40px;
}

.meal-part__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 90%;
  height: 70px;
  margin-left: 5%;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px #f1eded;
}
.meal-part__box h3 {
  margin: 0px 0px 0px 15px;
  font-size: 17px;
}
.meal-part__box .meal-part__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.meal-part__box .meal-part__information p {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}
.meal-part__box .meal-part__information .meal-part__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 15px;
}
.meal-part__box .meal-part__information .meal-part__price {
  margin-right: 20px;
  font-weight: bold;
}
.meal-part__box .check {
  line-height: 70px;
  width: 0%;
  position: absolute;
  right: 5%;
  opacity: 0;
  background-color: #99E2D0;
  text-align: center;
  color: white;
  font-size: 23px;
  border-radius: 0 25px 25px 0;
}
.meal-part__box:hover > .meal-part__information {
  width: 80%;
  transition: width 0.5s;
}
.meal-part__box:hover > .check {
  animation: check 0.5s ease-in-out forwards;
}
.meal-part__box:hover > .check > i {
  animation: rotate 0.5s;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.appear-1 {
  animation: appear 1s forwards;
}

.appear-2 {
  animation: appear 1s 0.5s forwards;
}

.appear-3 {
  animation: appear 1s 1s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes check {
  0% {
    width: 0%;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  24% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: none;
  border-radius: 30px;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 7px -3px #000000;
}
.base-button:hover {
  box-shadow: 0px 0px 10px -3px #000000;
  opacity: 0.75;
}

.wrapper {
  position: relative;
}

.card .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 195px;
  right: 10px;
  width: 80px;
  min-height: 30px;
  border-radius: 3px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 600;
  color: #2c9c81;
}

.heart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-style: none;
  background-color: transparent;
}
.heart .fa-heart {
  font-size: 22px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
}
.heart .fa-heart:hover {
  animation: fill 0.5s ease-in-out forwards;
}

@keyframes fill {
  from {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    color: transparent;
    background-size: 0%;
    opacity: 0.5;
  }
  to {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
