.heart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-style: none;
    background-color: transparent;
        & .fa-heart{
            font-size: 22px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            color: transparent;
            &:hover{
                animation: fill 0.7s ease-in-out forwards;
            }
        }
}

@keyframes fill{
    from{
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        background-repeat: no-repeat;
        color: transparent;
        background-size: 100% 10%;
        background-position: 0px 200%;
        opacity: 0.5;
    }
    to{ 
        background: -webkit-linear-gradient(top, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        background-repeat: no-repeat;
        color: transparent;
        background-size: 100% 100%;
        opacity: 1;
    }
}