footer{
    height: 200px;
    background-color: #353535;
    h3{
        font-family: 'Shrikhand';
        font-weight: normal;
        color: white;
        margin-left: 25px;
        margin-top: 0px;
        padding-top: 25px;
    }
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: $secondary;
        }
    }
    ul{
        padding-left: 0;
        margin-left: 25px;
    }
    i{
        width: 14px;
        font-size: 14px;
        margin-right: 13px;
    }
    li{
        list-style: none;
        padding-bottom: 10px;
    }
}