header{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: black;
        position: absolute;
        left: 6.5%;
        transform: scale(1.25);
    }
    img{
        height: 45%;
    }
}